---
layout: default
---
<div class="post">
  <header class="post-header d-flex align-items-center">
    {% if page.cv_pdf %}
      <a
        href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url }}"
        target="_blank"
        rel="noopener noreferrer"
        class="pdf-icon"
      >
        <i class="fa-solid fa-file-pdf fa-2x"></i>
      </a>
    {% endif %}
    {% if page.description %}
      <p class="post-description ml-3">{{ page.description }}</p>
    {% endif %}
  </header>
</div>

<style>
  .pdf-icon {
    position: absolute;
    top: 20px;
    left: 20px;
  }
</style>

